{% load static %}
<html>
  <head>
    <script src="{% static "chan.js" %}"></script>
    <style>
      #log {
        height: 10em;
        overflow: auto;
      }
      #log p {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="form">
      <p>
        <label for="seconds">Seconds [unvalidated, falls back to 0]:</label>
        <input id="seconds" type="text" value="2"/>
      </p>
      <p><button onClick="send_request()">Send request</button></p>
    </div>

    <div id="log">
      <p>Loading...</p>
    </div>
  </body>
</html>
